<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragment/head.html :: root-head"></header>

<body>
<div class="container">

    <header th:insert="fragment/general.html :: header"></header>

    <div class="row">
        <div id="title">
            <h1>Spring WebFlux + Thymeleaf</h1>
        </div>
        <table id="allMovies" class="table table-striped">
            <thead>
            <tr>
                <th width="70%">Name</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="movie : ${movies}">
                <td>[[${movie.name}]]</td>
                <td>[[${movie.score}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>Go to the next page to see fragments in action</p>

    <div th:insert="fragment/alert :: alert (type='danger', message='Hehe')">...</div>
    <footer th:insert="fragment/footer.html :: footer"></footer>
</div>
