<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="FILE_NAME">
            logs/log4j2-demo.log
        </Property>
        <Property name="FILE_PATTERN">
            logs/log4j2-demo-%d{yyyy-MM-dd}-%i.log
        </Property>
        <Property name="PACKAGE_NAME">
            com.example.tut
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender" fileName="${FILE_NAME}"
                     filePattern="${FILE_PATTERN}">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--Send mail when get ERROR -->
        <!-- SMTP Appender
        <SMTP name="MailAppender"
              subject="Log4j2 Demo [PROD]"
              to="youremail@example.com"
              from="log4j2-demo-alerts@example.com"
              smtpHost="yourSMTPHost"
              smtpPort="587"
              smtpUsername="yourSMTPUsername"
              smtpPassword="yourSMTPPassword"
              bufferSize="1">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>AsyncLogger
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </SMTP>
         -->
    </Appenders>

    <Loggers>
        <AsyncLogger name="${PACKAGE_NAME}" level="debug"
                     additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </AsyncLogger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>
